@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #121212;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  color: #ffe81f;
}

h1 {
  text-shadow: 0 0 8px rgba(255, 232, 31, 0.3);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 640px) {
  .container {
    padding: 0 24px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 32px;
  }
}

.react-flow__node {
  background: #1c1c1c !important;
  border: 1px solid #00e0ff !important;
  color: #00e0ff !important;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.react-flow__background {
  fill: #121212 !important;
}

.grid {
  display: grid;
  gap: 16px;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
